@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="jumbotron">
        <h1>Perk-Up Coffee+</h1>
    </div>
    <style>
        table {
            border: 1px solid black;
        }

        th {
            padding: 15px;
            text-align: left;
            border-bottom: 2px solid grey;
            background-color: black;
            color: aliceblue;
            border: 1px solid black;
            font-size: 26px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                'Lucida Grande', 'Lucida Sans Unicode', 
                Geneva, Verdana, sans-serif;
        }

        td {
            padding: 15px;
            text-align: left;
            border-bottom: .5px solid grey;
            background-color: aliceblue;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                'Lucida Grande', 'Lucida Sans Unicode', 
                Geneva, Verdana, sans-serif;
        }
    </style>
    <div>
        <h1>Menu Items</h1>
        @*I first display all the items in the viewbag*@
        <table>
            <tr>
                @*Added Table Row Headers*@
                <th>Item #</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>

            @for (int i = 0; i < ViewBag.Items.Count; i++)
            {
                <tr>
                    <td>@ViewBag.Items[i].ItemID</td>
                    <td>@ViewBag.Items[i].ItemName</td>
                    <td>@ViewBag.Items[i].Description</td>
                    <td>@ViewBag.Items[i].Price</td>
                    <td>@ViewBag.Items[i].Quantity</td>
                </tr>
            }
        </table>
    </div>

    <div>
        <p class="lead">
            <br /><h4>To Create User Account for the Perk-Up Coffee+ Web Application:</h4>
            <a class="btn btn-primary btn-lg" href="/Home/Registration">Click Here&raquo;</a>
        </p>
    </div>
</center>

